.col{
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/Plotlist-Clone/ASSETS/heading-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95vh;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 150px auto;
}

.hero_text{
    color: white;

}

.hero_text p{
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 20px;
}

.hero_text h1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 900;
    width: 650px;
    text-transform: capitalize;
}

